@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: 'Archivo Black', cursive;
  font-size: 16px;
  color-scheme: light dark;
  color: black;
  background: #ECECEC;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
